@import '../../variables';

.error-message {
	margin: 300px 13px 0 13px;
	font-size: 24px;

	p {
		text-align: center;
		color: $main-color;
		font-weight: 900;
		margin-bottom: 10px;
	}

	a {
		display: block;
		margin-top: 13px;
		text-align: center;
		color: $main-color;
	}
}
