@import '../../variables';

.product {
	height: 340px;
	width: 200px;
	background-color: $white;

	&-about {
		padding: 0 10px;
	}

	&-name {
		line-height: 25px;
		font-size: 25px;
		font-weight: 300;
		color: $main-color;
		font-weight: 300;
	}

	&-description {
		margin-top: 10px;
		height: 60px;
		line-height: 18px;
		font-size: 14px;
		font-weight: 300;
		color: $black;
	}

	&-price {
		display: flex;
		justify-content: space-between;
		margin-top: 5px;
		margin-left: 13px;
		background: $white;
		color: $black;
		font-size: 17px;
		font-weight: 300;
		line-height: 30px;
		font-weight: 700;

		button {
			border: none;
			padding: 0 5px;
			background-color: $main-color;
			color: $white;
			font-size: 15px;
			cursor: pointer;
			transition: all 0.2s linear;
			&:hover {
				background-color: $deep-main;
			}
		}
	}

	img {
		height: 200px;
		width: 200px;
	}
}
