@import '../../variables';

.product {
	height: 340px;
	width: 200px;
	background-color: $white;

	@media (max-width: 436px) {
		height: 200px;
		width: 350px;
		background-color: $gray;

		display: grid;
		grid-template-columns: 200px 1fr;
		gap: 5px;
		grid-template-rows: 40px 1fr;
		grid-template-areas:
			'image descriptor'
			'image footer';
	}

	img {
		grid-area: image;
		height: 200px;
		width: 200px;
	}

	.product-descriptor {
		grid-area: descriptor;
		padding: 0 10px;
		margin-top: 10px;
		height: 60px;
		line-height: 18px;
		font-size: 14px;
		font-weight: 300;
		color: $black;

		@media (max-width: 436px) {
			background-color: $white;
			height: 40px;
			margin: 0;
			padding: 7px 0;
		}

		h2 {
			line-height: 25px;
			font-size: 25px;
			font-weight: 300;
			color: $main-color;
			font-weight: 300;
			margin-bottom: 5px;

			@media (max-width: 436px) {
				text-align: center;
			}
		}

		p {
			@media (max-width: 436px) {
				display: none;
			}
		}
	}

	footer {
		grid-area: footer;
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
		margin-left: 13px;
		margin-right: 5px;
		background: $white;
		color: $black;
		font-size: 17px;
		line-height: 30px;
		font-weight: 700;

		@media (max-width: 436px) {
			flex-direction: column;
			text-align: center;
			margin: 0;
			padding-top: 40px;
			font-size: 25px;
			line-height: 21px;
			font-weight: 300;
		}

		button {
			width: 85px;
			height: 30px;
			border: none;
			padding: 0 5px;
			background-color: $main-color;
			color: $white;
			font-size: 15px;
			line-height: 15px;
			cursor: pointer;
			transition: all 0.2s linear;

			@media (max-width: 436px) {
				width: 145px;
				height: 50px;
				font-size: 19px;
				line-height: 19px;
			}

			&:hover {
				background-color: $deep-main;
			}
		}
	}
}
