@import '../../variables';

.main-page {
	background: $gray;
	padding: 5px 0;

	.container {
		min-height: calc(100vh - 290px);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
		row-gap: 10px;
		justify-items: center;
	}

	.spinner {
		margin-top: 20vh;
	}
}
