@import '../../variables';

.checkout {
	margin-top: 10px;
	height: 150px;
	width: 290px;
	background-color: $white;

	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		width: 290px;
		border: 1px solid $gray-light;
		border-style: none none solid none;
	}

	h2 {
		background: none;
		font-size: 24px;
		line-height: 24px;
		font-weight: 300;
	}

	button {
		margin-top: 10px;
		background-color: $main-color;
		border: 1px solid $gray-light;
		border-style: none none solid none;
		color: $white;
		font-size: 20px;
		font-weight: 300;
		padding: 16px 0;
		width: 100%;
		transition: all 0.2s linear;
		cursor: pointer;

		&:hover {
			background: $deep-main;
		}
	}
}
