@import '../../variables';

.cart-page {
	padding-top: 10px;
	background: $gray;

	.cart {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 15px;
		justify-items: center;
	}

	.total {
		display: flex;
		margin-top: 10px;
		background: $white;
		justify-content: end;
	}
}
