@import '../../variables';

.cart-page {
	background: $gray;

	.container {
		padding: 11vh 0 0.3vh 0;
		min-height: 100vh;
		max-width: 100vw;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			'cart'
			'total';

		@media (max-width: 900px) {
			padding: 6vh 0 0 0;
		}
	}

	.cart {
		grid-area: cart;
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 15px;
		justify-items: center;
		padding: 0 0 1vh 0;
	}

	.total {
		grid-area: total;
		align-self: flex-end;
		height: 100px;
		padding: 0 3vw;
		background: $white;

		@media (max-width: 930px) {
			height: 67px;
		}

		@media (max-width: 400px) {
			height: 50px;
		}
	}
}
