@import '../../variables';

.cart-page {
	padding-top: 10px;
	background: $gray;

	.cart {
		min-height: calc(100vh - 290px);
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 15px;
		justify-items: center;
	}

	.total {
		padding: 0 100px;
		display: flex;
		margin-top: 20px;
		background: $white;
		justify-content: end;
	}

	.spinner {
		margin-top: 20vh;
	}
}
