@import '../../variables';

.header {
	background: #fff;
	display: flex;
	justify-content: space-between;
	height: 113px;
	padding: 0 100px;

	@media (max-width: 1000px) {
		padding: 0 30px;
	}

	h1 {
		font-size: 31px;
		line-height: 31px;
		font-weight: 300;
		position: relative;
		align-self: center;

		span {
			color: #53b5aa;
		}

		.last-span {
			background: #fff;
			padding-right: 150px;
			position: absolute;
			left: 155px;
			transition: all 0.3s linear;
		}

		&:hover {
			.last-span {
				left: 305px;
				padding-right: 0;
			}
		}
	}

	.header-menu {
		align-self: center;

		ul {
			display: flex;
			justify-content: space-between;
			font-weight: bold;
			font-size: 24px;
			line-height: 24px;

			li {
				margin: 0 8px;
			}
		}
	}

	a {
		color: $black;
		text-decoration: none;
		transition: all 0.1s linear;
		font-size: 16px;
		font-style: normal;
		vertical-align: middle;

		&:hover {
			color: $main-color;
		}
	}
}
