@import '../../variables';

.header {
	position: fixed;
	top: 0;
	background: $white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	min-height: 10vh;
	padding: 0 3vw;
	z-index: 10;

	@media (max-width: 900px) {
		min-height: 5vh;
	}

	h1 {
		font-size: 31px;
		line-height: 31px;
		font-weight: 300;
		position: relative;

		span {
			color: $main-color;
		}

		.last-span {
			background: $white;
			padding-right: 150px;
			position: absolute;
			left: 155px;
			transition: all 0.3s linear;
		}

		&:hover {
			.last-span {
				left: 305px;
				padding-right: 0;
			}
		}

		@media (max-width: 470px) {
			.last-span {
				padding-right: 0;
			}

			&:hover {
				.last-span {
					left: 155px;
				}
			}
		}

		a {
			color: $black;
			text-decoration: none;
			transition: all 0.1s linear;
			font-size: 16px;
			line-height: 16px;
			vertical-align: middle;

			&:hover {
				color: $main-color;
			}

			@media (max-width: 470px) {
				display: none;
			}
		}
	}

	.header-menu {
		ul {
			display: flex;
			width: 80px;
			justify-content: space-between;
			font-weight: 700;
			font-size: 16px;
			line-height: 16px;

			a {
				color: $black;
				text-decoration: none;
				transition: all 0.1s linear;
			}
		}
	}
}
