@import '../../variables';

.cartitem {
	max-width: 980px;
	width: 99%;
	height: 250px;

	display: grid;
	gap: 5px;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 1fr 50px;
	grid-template-areas:
		'header descriptor'
		'header footer';

	@media (max-width: 900px) {
		height: 200px;
		grid-template-columns: 200px 1fr;
	}

	@media (max-width: 650px) {
		max-width: 355px;
		height: 180px;
		grid-template-columns: 180px 170px;
		grid-template-rows: 35px 140px;
	}

	header {
		grid-area: header;
		height: 250px;
		width: 250px;
		position: relative;
		overflow: hidden;
		background: $black;

		@media (max-width: 900px) {
			height: 200px;
			width: 200px;
		}

		@media (max-width: 650px) {
			height: 180px;
			width: 180px;
		}

		img {
			width: 100%;
			height: 100%;
		}

		button {
			position: absolute;
			bottom: -15%;
			width: 100%;
			left: 0;
			padding: 7px 30px;
			border: none;
			background: $main-color;
			color: $white;
			font-size: 22px;
			line-height: 22px;
			font-weight: 300;
			cursor: pointer;
			transition: all 0.3s linear;

			@media (max-width: 900px) {
				font-size: 20px;
				line-height: 20px;
				padding: 8px 25px;
				bottom: -18%;
			}

			@media (max-width: 650px) {
				bottom: -32%;
			}
		}

		&:hover {
			img {
				opacity: 0.7;
			}

			button {
				bottom: 43%;

				@media (max-width: 650px) {
					bottom: 35%;
				}
			}
		}
	}

	.cartitem-descriptor {
		grid-area: descriptor;
		background: $white;

		padding: 10px;

		@media (max-width: 650px) {
			padding: 0;
		}

		h2 {
			color: $main-color;
			font-size: 25px;
			line-height: 25px;
			font-weight: 300;

			@media (max-width: 900px) {
				font-size: 21px;
				line-height: 21px;
			}

			@media (max-width: 650px) {
				margin-top: 7px;
				text-align: center;
			}
		}

		p {
			margin-top: 10px;

			@media (max-width: 650px) {
				display: none;
			}
		}
	}

	footer {
		grid-area: footer;
		background: $white;

		display: grid;
		grid-template-columns: 1fr auto auto;
		align-items: center;

		@media (max-width: 650px) {
			align-items: flex-start;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, 1fr);
		}

		.price {
			background: $white;
			color: $black;
			font-size: 18px;
			font-weight: 300;
			line-height: 18px;
			margin: 0 15px;

			@media (max-width: 650px) {
				margin-top: 10px;
				text-align: center;
			}
		}

		.full-price {
			height: 100%;
			width: 150px;
			background-color: $main-color;
			text-align: center;
			align-self: center;

			@media (max-width: 650px) {
				height: 50px;
				width: 100%;
			}

			h3 {
				padding: 13px 0;
				color: $white;
				font-size: 22px;
				font-weight: 300;
				line-height: 22px;
			}

			svg {
				background: $main-color;
			}
		}

		.quantity {
			display: grid;
			grid-template-columns: repeat(3, 60px);
			align-items: center;
			justify-items: center;
			font-size: 19px;
			line-height: 19px;

			@media (max-width: 650px) {
				grid-template-columns: repeat(3, 1fr);
			}

			&-value {
				font-size: 19px;
				line-height: 19px;
				font-weight: 300;
			}

			button {
				background: $white;
				border: none;
				font-size: 30px;
				line-height: 30px;
				height: 48px;
				width: 60px;
				transition: all 0.3s linear;

				@media (max-width: 650px) {
					grid-template-columns: repeat(3, 1fr);
					height: 45px;
					width: 100%;
				}

				svg {
					path {
						stroke: $black;
					}
				}

				&:hover {
					background: $main-color;
					color: $white;
					cursor: pointer;

					svg {
						path {
							stroke: $white;
						}
					}
				}
			}
		}
	}
}
