@import '../../variables';

.message {
	margin: 100px 13px;

	h2 {
		color: $main-color;
		font-size: 40px;
		font-weight: 900;
	}

	.link {
		display: block;
		margin-top: 100px;
		color: $black;
		text-decoration: none;
		transition: all 0.1s linear;
		font-size: 30px;

		span {
			color: $main-color;
		}

		&:hover {
			color: $main-color;

			span {
				color: $black;
			}
		}
	}
}
